body {
    margin: 2cm;
    padding: 0;
}

#sectB {
    margin-top: 30px;
    margin-bottom: 30px;
}

#sectB>.sectionBody {
    display: flex;
}

#sectB>.sectionBody>.leftside,
.rightside {
    width: 50%;
}

#sectB>.sectionBody>.leftside,
.rightside {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2cm;
}