body {
    margin: 2cm;
    padding: 0;
    background-color: #D3D3D3;
    font-family: 'Courier New', monospace;
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    background-position: center center;
}

#sectB {
    margin-top: 30px;
    margin-bottom: 30px;
}

#sectB>.sectionBody {
    display: flex;
}

#sectB>.sectionBody>.leftside,
.rightside {
    width: 50%;
}

#sectB>.sectionBody>.leftside {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2cm;
}

#sectB>.sectionBody>.rightside>.h1 {
    color: #000;
    font-size: 50px;
}

#sectB>.sectionBody>.rightside>P {
    color: rgb(240, 21, 21);
    font-size: 50px;
}

#sectB>.sectionBody>.rightside>a>.start {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@media screen and (max-width: 1250px) {
    #sectB>.sectionBody {
        flex-direction: column;
    }
    #sectB>.sectionBody>.leftside,
    .rightside {
        width: 100%
    }
}