body {
    margin: 2cm;
    padding: 0;
}

#sectB {
    margin-top: 30px;
    margin-bottom: 30px;
}

#sectB>.sectionBody {
    display: flex;
}

#sectB>.sectionBody>.leftside,
.rightside {
    width: 50%;
}

#sectB>.sectionBody>.leftside {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2cm;
}

#sectB>.sectionBody>.rightside>.h1 {
    color: aqua;
    font-size: 50px;
}

#sectB>.sectionBody>.rightside>a>.start {
    background-color: #ffffff;
    color: #EC4067;
    font-size: 25px;
    padding: 16px;
    border-color: #EC4067;
}